
@font-face{
 font-family: nb;
 src: url(./NBInternationalProBoo.ttf);
}
@font-face {
 font-family: rejouice;

 src: url(./Rejouice-Headline.ttf);

}

*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 font-family: nb;

}

body,html{
 width: 100%;
 height: 100%;

}
#page1{
 height: 100vh;
 width: 100%;
 position: relative;
 background-color: #dadada;
}
#page1 video{
 height: 100%;
 width: 100%;
 object-fit: cover;
 position: absolute;
}
.page1-content{
 width: 100%;
 height: 100%;
 background-color:rgba(52, 20, 20, 0.304);
 position: relative;
 color: #fff;
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-direction: column;

}
nav{
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 /* background-color: red; */
 padding: 2vw 3vw;

}
nav h3{

 font-size: 1.4vw
}

nav h3{
 font-size: 1.4vw
}
.page1-content h1{
 font-size: 25vw;
 font-family: rejouice;


}